<div class="container-fluid">
    <div id="userAlert" class="alert" role="alert"></div>
    <div id="dynamicContentWrapper">
        <div class="page-header">
            <h1>Sit tight...</h1>
            <p>We are gathering reports based on your location.</p>
        </div>
        <div class="loader"></div>
        <div id="mapWrapper" style="height:400px; width:100%;">
            <div id="map" style="height:100%"></div>
        </div>
    </div>
</div>

<div class="page-header">
    <h1>Tell us about this location</h1>
    <p>Provide any information others might find useful. Like best time to fish, what the fish are biting on, and current conditions.</p>
</div>
<div id="reportWrapper" class="col-md-12">
    <form class="form-horizontal" action='/results' method="POST">
        <div class="form-group">
            <label for="bestTimeToFish">Best time to fish</label>
            <select class="form-control" id="bestTimeToFish" name="bestTimeToFish">
                <option value="" disabled selected>Choose an option</option>
                <option>Anytime</option>
                <option>Early morning</option>
                <option>Late morning</option>
                <option>Afternoon</option>
                <option>Late afternoon</option>
                <option>Early evening</option>
                <option>Late evening</option>
                <option>Night</option>
                <option>Current conditions are not ideal for fishing at this time.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="locationFishSpecies">Types of fish here</label>
            <select class="form-control" id="locationFishSpecies" name="locationFishSpecies">
                <option value="" disabled selected>Choose an option</option>
                <option>Bass</option>
                <option>Catfish</option>
                <option>Trout</option>
                <option>Pike</option>
                <option>Salmon</option>
            </select>
        </div>
        <div class="form-group">
            <label for="catchAnything">Did you catch any fish today?</label>
            <select class="form-control" id="catchAnything" name="catchAnything">
                <option value="" disabled selected>Choose an option</option>
                <option>Yes</option>
                <option>No</option>
                <option>Wasn't fishing</option>
            </select>
        </div>
        <div class="form-group">
            <label for="myCatchSpecies">If yes, select the type(s) of fish</label>
            <select multiple class="form-control" id="myCatchSpecies" name="myCatchSpecies">
                <option value="" disabled selected>Choose an option</option>
                <option>Bass</option>
                <option>Catfish</option>
                <option>Trout</option>
                <option>Pike</option>
                <option>Salmon</option>
            </select>
            <small id="multiSelectHelp" class="form-text text-muted">Select multiple by pressing Shift, Control, or Command while clicking</small>
        </div>
        <div class="form-group">
            <label for="locationWaterCond">Water condition</label>
            <select multiple class="form-control" id="locationWaterCond" name="locationWaterCond">
                <option value="" disabled selected>Choose an option</option>
                <option>High</option>
                <option>Normal</option>
                <option>Low</option>
                <option>Choppy</option>
                <option>Strong</option>
                <option>Murky</option>
                <option>Crystal clear</option>
            </select>
            <small id="multiSelectHelp" class="form-text text-muted">Select multiple by pressing Shift, Control, or Command while clicking</small>
        </div>
        <div class="form-group">
            <label for="locationActivity">Current hatch or notable activity</label>
            <textarea class="form-control" id="locationActivity" name="locationActivity" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="myComments">Comments</label>
            <textarea class="form-control" id="myComments" name="myComments" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="myImage">Upload an image</label>
            <input type="file" class="form-control-file" id="myImage" name="myImage" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">You can upload an image no larger than 2MB and in png or jpg format.</small>
        </div>
        <fieldset class="form-group">
            <legend>Rate this location</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input rating" name="locationRating" id="locationRatingBad" value="Not good" checked> I don't recommend it. I won't be returning.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input rating" name="locationRating" id="locationRatingOk" value="Decent"> Not the best, but I still had fun. I'll be back.
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input rating" name="locationRating" id="locationRatingGreat" value="Great"> This is great! I'm hooked!
                </label>
            </div>
        </fieldset>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="saveToFavorites" name="saveToFavorites"> Save this spot to my favorites.
            </label>
        </div>
        <!--<input type="button" id="reportFormBtn" class="btn btn-primary" value="Finish">-->
        <button type="submit">Submit</button>
        <input type="hidden" name="myLat" id="locationLat">
        <input type="hidden" name="myLng" id="locationLng">
        <input type="hidden" name="dateTime" id="dateTime">
    </form>
</div>
<!-- end of the speciesWrapper  -->

<script>
    //    $(document).ready(function() { // $('#locationLat').val(reportObj.position.lat); // $('#locationLng').val(reportObj.position.lng); // $('#dateTime').val(new Date); // // // To grab values of these form fields // // /*$('#bestTimeToFish, #locationFishSpecies, #catchAnything, #myCatchSpecies, #locationWaterCond, #locationActivity, #myComments, #myImage, input[name="locationRating"], #saveToFavorites').on('blur', function(event) { // if (!$(this).val() == '') { // data = $(this).val(); // key = $(this).attr('id'); // if (key == 'locationFishSpecies') { // reportObj.locationFishSpecies = data; // } else if (key == 'bestTimeToFish') { // reportObj.bestTimeToFish = data; // } else if (key == 'catchAnything') { // reportObj.catchAnything = data; // } else if (key == 'myCatchSpecies') { // reportObj.myCatchSpecies = data; // } else if (key == 'locationWaterCond') { // reportObj.locationWaterCond = data; // } else if (key == 'locationActivity') { // reportObj.locationActivity = data; // } else if (key == 'myComments') { // reportObj.myComments = data; // } else if (key == 'myComments') { // reportObj.myComments = data; // } else if (key == 'myImage') { // reportObj.myImage = data; // } else if (key == 'locationRatingBad' || key == 'locationRatingOk' || key == 'locationRatingGreat') { // reportObj.locationRating = data; // } else if (key == 'saveToFavorites') { // reportObj.saveToFavorites = data; // } // } // }) // $('#reportFormBtn').on('click', function() { // console.log(reportObj); // $('#reportWrapper').fadeOut('fast'); // userAlert('success', "Success!"); // $('.page-header h1').text('Got it!'); // $('.page-header p').text('We\'re going to share this information with other fishermen and women like you. Keep reporting quality information to increase your respect levels and earn pretty sweet badges. Thank you!'); // }) */ // // }) // end of doc.ready
</script>