<div class="container">
    <div class="row">
        <div id="userAlert" class="alert" role="alert"></div>
        <div id="dynamicContentWrapper">
            <div class="page-header">
                <h1>Welcome!</h1>
                <p></p>
            </div>
        </div>
    </div>
    <!-- end of row  -->
    <div class="row indexIcons">
        <div class="col-sm-4 text-center"><a href="/report.html"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><p>Create Report</p></a>
        </div>
        <div class="col-sm-4 text-center"><a href="/results.html"><i class="fa fa-map-o fa-3x" aria-hidden="true"></i><p>View Reports</p></a>
        </div>
        <div class="col-sm-4 text-center"><a href="/login.html"><i class="fa fa-user-o fa-3x" aria-hidden="true"></i><p>Login</p>
            </div>
        </div>
</div>
