<div class="container-fluid">
    <div id="userAlert" class="alert" role="alert"></div>
    <div id="dynamicContentWrapper">
        <div class="page-header">
            <h1>Your report was submitted! </h1>
            <p>What would you like to do next?</p>
        </div>
        
    </div>
</div>