<h1>Submit a report</h1>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCerJ8aDB0jB_qIzorhkQqhPrQD3nleyYs&callback=initMap" async defer></script>
<script src="js/map.js"></script>
<script src="js/location.js"></script>
